@import "tailwindcss";
@import "tw-animate-css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --background: oklch(0.8798 0.0534 91.7893);
  --foreground: oklch(0.4265 0.0310 59.2153);
  --card: oklch(0.8937 0.0395 87.5676);
  --card-foreground: oklch(0.4265 0.0310 59.2153);
  --popover: oklch(0.9378 0.0331 89.8515);
  --popover-foreground: oklch(0.4265 0.0310 59.2153);
  --primary: oklch(0.6657 0.1050 118.9078);
  --primary-foreground: oklch(0.9882 0.0069 88.6415);
  --secondary: oklch(0.8532 0.0631 91.1493);
  --secondary-foreground: oklch(0.4265 0.0310 59.2153);
  --muted: oklch(0.8532 0.0631 91.1493);
  --muted-foreground: oklch(0.5761 0.0259 60.9323);
  --accent: oklch(0.8361 0.0713 90.3269);
  --accent-foreground: oklch(0.4265 0.0310 59.2153);
  --destructive: oklch(0.7136 0.0981 29.9827);
  --destructive-foreground: oklch(0.9790 0.0082 91.4818);
  --border: oklch(0.6918 0.0440 59.8448);
  --input: oklch(0.8361 0.0713 90.3269);
  --ring: oklch(0.7350 0.0564 130.8494);
  --chart-1: oklch(0.7350 0.0564 130.8494);
  --chart-2: oklch(0.6762 0.0567 132.4479);
  --chart-3: oklch(0.8185 0.0332 136.6539);
  --chart-4: oklch(0.5929 0.0464 137.6224);
  --chart-5: oklch(0.5183 0.0390 137.1892);
  --sidebar: oklch(0.8631 0.0645 90.5161);
  --sidebar-foreground: oklch(0.4265 0.0310 59.2153);
  --sidebar-primary: oklch(0.7350 0.0564 130.8494);
  --sidebar-primary-foreground: oklch(0.9882 0.0069 88.6415);
  --sidebar-accent: oklch(0.9225 0.0169 88.0027);
  --sidebar-accent-foreground: oklch(0.4265 0.0310 59.2153);
  --sidebar-border: oklch(0.9073 0.0170 88.0044);
  --sidebar-ring: oklch(0.7350 0.0564 130.8494);
  --font-sans: Merriweather, serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.425rem;
  --shadow-2xs: 3px 3px 2px 0px hsl(88 22% 35% / 0.07);
  --shadow-xs: 3px 3px 2px 0px hsl(88 22% 35% / 0.07);
  --shadow-sm: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 1px 2px -1px hsl(88 22% 35% / 0.15);
  --shadow: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 1px 2px -1px hsl(88 22% 35% / 0.15);
  --shadow-md: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 2px 4px -1px hsl(88 22% 35% / 0.15);
  --shadow-lg: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 4px 6px -1px hsl(88 22% 35% / 0.15);
  --shadow-xl: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 8px 10px -1px hsl(88 22% 35% / 0.15);
  --shadow-2xl: 3px 3px 2px 0px hsl(88 22% 35% / 0.38);
}

.dark {
  --background: oklch(0.3303 0.0214 88.0737);
  --foreground: oklch(0.9217 0.0235 82.1191);
  --card: oklch(0.3583 0.0165 82.3257);
  --card-foreground: oklch(0.9217 0.0235 82.1191);
  --popover: oklch(0.3583 0.0165 82.3257);
  --popover-foreground: oklch(0.9217 0.0235 82.1191);
  --primary: oklch(0.6762 0.0567 132.4479);
  --primary-foreground: oklch(0.2686 0.0105 61.0213);
  --secondary: oklch(0.4448 0.0239 84.5498);
  --secondary-foreground: oklch(0.9217 0.0235 82.1191);
  --muted: oklch(0.3892 0.0197 82.7084);
  --muted-foreground: oklch(0.7096 0.0171 73.6179);
  --accent: oklch(0.6540 0.0723 90.7629);
  --accent-foreground: oklch(0.2686 0.0105 61.0213);
  --destructive: oklch(0.6287 0.0821 31.2958);
  --destructive-foreground: oklch(0.9357 0.0201 84.5907);
  --border: oklch(0.4448 0.0239 84.5498);
  --input: oklch(0.4448 0.0239 84.5498);
  --ring: oklch(0.6762 0.0567 132.4479);
  --chart-1: oklch(0.6762 0.0567 132.4479);
  --chart-2: oklch(0.7350 0.0564 130.8494);
  --chart-3: oklch(0.5929 0.0464 137.6224);
  --chart-4: oklch(0.6540 0.0723 90.7629);
  --chart-5: oklch(0.5183 0.0390 137.1892);
  --sidebar: oklch(0.3303 0.0214 88.0737);
  --sidebar-foreground: oklch(0.9217 0.0235 82.1191);
  --sidebar-primary: oklch(0.6762 0.0567 132.4479);
  --sidebar-primary-foreground: oklch(0.2686 0.0105 61.0213);
  --sidebar-accent: oklch(0.6540 0.0723 90.7629);
  --sidebar-accent-foreground: oklch(0.2686 0.0105 61.0213);
  --sidebar-border: oklch(0.4448 0.0239 84.5498);
  --sidebar-ring: oklch(0.6762 0.0567 132.4479);
  --font-sans: Merriweather, serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.425rem;
  --shadow-2xs: 3px 3px 2px 0px hsl(88 22% 35% / 0.07);
  --shadow-xs: 3px 3px 2px 0px hsl(88 22% 35% / 0.07);
  --shadow-sm: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 1px 2px -1px hsl(88 22% 35% / 0.15);
  --shadow: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 1px 2px -1px hsl(88 22% 35% / 0.15);
  --shadow-md: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 2px 4px -1px hsl(88 22% 35% / 0.15);
  --shadow-lg: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 4px 6px -1px hsl(88 22% 35% / 0.15);
  --shadow-xl: 3px 3px 2px 0px hsl(88 22% 35% / 0.15), 3px 8px 10px -1px hsl(88 22% 35% / 0.15);
  --shadow-2xl: 3px 3px 2px 0px hsl(88 22% 35% / 0.38);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

.cl-button,
.cl-input,
.cl-menuList {
  @apply !shadow-none;
}

.cl-formButtonPrimary {
  @apply inline-flex h-9 items-center justify-center whitespace-nowrap rounded-md bg-primary px-3  font-medium text-primary-foreground !shadow-none ring-offset-background transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50;
}

.cl-formButtonPrimary {
  @apply inline-flex h-9 items-center justify-center whitespace-nowrap rounded-md bg-primary px-3  font-medium text-primary-foreground !shadow-none ring-offset-background transition-colors hover:bg-primary/90 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50;
}

.cl-card,
.cl-socialButtonsBlockButton,
.cl-alert,
.cl-phoneInputBox,
.cl-userButtonPopoverCard,
.cl-organizationSwitcherPopoverCard {
  @apply rounded-lg border border-input bg-background;
}

.cl-headerTitle,
.cl-socialButtonsBlockButtonText,
.cl-loading,
.cl-formFieldLabel,
.cl-formHeaderTitle,
.cl-selectButton__countryCode,
.cl-selectButton__countryCode p,
.cl-selectOption p,
.cl-selectOption div,
.cl-modalCloseButton,
.cl-navbarButton,
.cl-breadcrumbsItem.cl-breadcrumbsItem__currentPage,
.cl-profileSectionTitle p,
.cl-userPreviewTextContainer,
.cl-organizationPreviewTextContainer,
.cl-profileSectionContent p,
.cl-form p,
.cl-accordionTriggerButton,
.cl-organizationSwitcherTrigger {
  @apply text-foreground;
}

.cl-formFieldErrorText {
  @apply !text-destructive;
}

.cl-headerSubtitle,
.cl-dividerText,
.cl-footerActionText,
.cl-alertText,
.cl-formFieldInfoText,
.cl-formFieldSuccessText,
.cl-identityPreviewText,
.cl-userButtonPopoverActionButton,
.cl-userButtonPopoverActionButton svg,
.cl-userButtonPopoverActionButtonText,
.cl-organizationSwitcherPopoverActionButton,
.cl-organizationSwitcherPopoverActionButton svg,
.cl-organizationSwitcherPopoverActionButtonText,
.cl-userButtonPopoverFooter p,
.cl-userButtonPopoverFooter a,
.cl-formHeaderSubtitle,
.cl-breadcrumbsItem,
.cl-breadcrumbsItemDivider,
.cl-fileDropAreaHint,
.cl-fileDropAreaFooterHint,
.cl-form
  p[data-localization-key="userProfile.emailAddressPage.emailCode.formHint"],
p[data-localization-key="userProfile.profilePage.successMessage"] {
  @apply text-muted-foreground;
}

.cl-dividerLine {
  @apply bg-border;
}

.cl-formFieldInput[type="text"],
.cl-formFieldInput[type="email"],
.cl-formFieldInput[type="password"] {
  @apply flex h-10 w-full rounded-md border border-input bg-background px-3 py-2 text-foreground ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50;
}

.cl-footerActionLink {
  @apply text-accent-foreground underline hover:text-accent-foreground/90;
}

.cl-otpCodeFieldInput {
  @apply !border !border-input text-foreground;
}

.cl-formResendCodeLink {
  @apply text-primary disabled:opacity-90;
}

.cl-selectSearchInput__countryCode {
  @apply flex h-10 w-full rounded-md border border-b border-input bg-background text-foreground ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50;
}

.cl-selectOptionsContainer__countryCode {
  @apply border border-input bg-background;
}

.cl-internal-icon,
.cl-userPreviewSecondaryIdentifier__userButton {
  @apply text-foreground;
}

button[data-localization-key="userProfile.start.dangerSection.deleteAccountButton"] {
  @apply bg-destructive text-white  hover:text-white hover:bg-destructive;
}

.cl-fileDropAreaBox {
  @apply dark:bg-gray-900;
}

.cl-fileDropAreaIconBox {
  @apply dark:bg-gray-800;
}

.cl-fileDropAreaIcon {
  @apply dark:text-gray-400;
}

.cl-fileDropAreaButtonPrimary {
  @apply h-10 px-4 py-2 text-foreground transition-colors hover:bg-secondary hover:text-accent-foreground;
}

.cl-userButtonPopoverActionButton,
.cl-organizationSwitcherPopoverActionButton,
.cl-profileSectionPrimaryButton,
.cl-accordionTriggerButton,
.cl-navbarButton {
  @apply hover:bg-sidebar-accent hover:text-sidebar-accent-foreground;
}

.cl-navbarButton[data-active="true"] {
  @apply bg-sidebar-accent text-sidebar-accent-foreground;
}

.cl-card {
  @apply rounded-lg;
}

.cl-userButtonPopoverCard {
  @apply rounded-md;
}

.cl-userButtonPopoverFooter a {
  @apply hover:text-muted-foreground;
}

.cl-badge {
  @apply rounded-full border border-input bg-background px-2.5 py-0.5 text-xs text-foreground !shadow-none;
}

.cl-badge[data-localization-key="badge__unverified"] {
  @apply border bg-transparent text-destructive dark:text-red-500;
}

.cl-formButtonReset {
  @apply text-foreground hover:bg-secondary;
}

.cl-footer {
  @apply rounded-b-lg border-x border-b bg-background bg-gradient-to-t from-background to-background  text-muted-foreground;
}
.cl-userButtonPopoverFooter,
.cl-organizationSwitcherPopoverFooter {
  @apply rounded-b-lg bg-gradient-to-t from-background to-background;
}

.cl-signIn-start,
.cl-signUp-start,
.cl-signIn-password,
.cl-signIn-alternativeMethods,
.cl-signIn-emailCode {
  @apply rounded-b-none border-b-0;
}

.cl-cardBox {
  @apply rounded-lg shadow-sm;
}

.cl-socialButtonsBlockButton {
  @apply h-10 !border;
}

.cl-alternativeMethods .cl-alternativeMethodsBlockButton {
  @apply h-10 !border border-input text-muted-foreground;
}

.cl-alternativeMethodsBlockButton {
  @apply h-10 !shadow-none;
}

.cl-navbar {
  @apply rounded-lg border-y border-l bg-gradient-to-t from-background to-background;
}

.cl-scrollBox {
  @apply rounded-lg rounded-l-none border border-input bg-gradient-to-t from-background to-background;
}

h1[data-localization-key="userProfile.navbar.title"] {
  @apply text-foreground;
}

.cl-profilePage > .cl-header {
  @apply border-b;
}

.cl-profileSection__profile,
.cl-profileSection__emailAddresses {
  @apply border-b;
}

.cl-menuButton {
  @apply text-foreground hover:text-foreground;
}

.cl-menuList {
  @apply border border-input bg-background;
}

.cl-actionCard {
  @apply border border-input bg-background !shadow-none;
}

.cl-menuItem[data-color="neutral"] {
  @apply text-foreground hover:bg-muted;
}

.cl-avatarImageActionsUpload {
  @apply !border border-input text-foreground;
}

.cl-userButtonPopoverMain,
.cl-organizationSwitcherPopoverMain {
  @apply rounded-lg border-input bg-background;
}

.cl-selectButton {
  @apply !border !border-input;
}

.cl-avatarBox {
  height: 2.5rem;
  width: 2.5rem;
  border: 1px var(--color-primary) solid;
}